[submodule "vits2"]
	path = vits2
	url = https://github.com/daniilrobnikov/vits2.git
[submodule "turbovec"]
	path = turbovec
	url = https://github.com/arcius7/turbovec.git
[submodule "PageIndex"]
	path = PageIndex
	url = https://github.com/arcius7/PageIndex.git
[submodule "agentmemory"]
	path = agentmemory
	url = https://github.com/arcius7/agentmemory.git
[submodule "searxng"]
	path = searxng
	url = https://github.com/searxng/searxng.git
